:root {
  --main-color: #97a4be;
  --main-color-light: #4e596c;
  --main-bg-color: #223047;
  --secondary-bg-color: #f5f6fa;
  --secondary-color: #233148;
  --color-aqua: #00fff1;
  --color-white: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  padding: 0;
}

@media only screen and (max-width: 36em) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

button {
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.btn-main {
  width: 165px;
  height: 40px;
  background: var(--color-aqua);
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: 500;
  box-shadow: -1px 2px 10px #00fff2be;
}

.btn-main:hover {
  transform: translate(3px, -3px);
}

.btn-secondary {
  color: var(--color-white);
  width: 144px;
  height: 40px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--color-white);
}

.btn-secondary:hover {
  color: var(--secondary-color);
  background: var(--color-aqua);
  border: none;
}

a {
  text-decoration: none;
}

a:active,
a:visited {
  color: var(--main-color);
}

p {
  line-height: 29px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 50px;
}

h1 {
  font-size: 40px;
  margin-bottom: 50px;
}

h2 {
  font-size: 30px;
  color: var(--secondary-color);
  margin-bottom: 50px;
}

h5 {
  font-size: 17px;
  font-weight: 500;
  color: var(--secondary-color);
  margin: 0;
}

.header {
  background: var(--main-bg-color);
}

.header .navbar {
  border-bottom: 1px solid var(--main-color-light);
  padding-bottom: 0;
  padding-top: 0;
}

.header .navbar-brand {
  position: relative;
  color: var(--color-aqua);
  font-size: 35px;
  line-height: 46px;
}

.header .navbar-brand span {
  position: absolute;
  font-size: 20px;
}

.header .navbar-collapse {
  flex-basis: 0;
  flex-grow: 0;
}

.header .navbar-nav .dropdown {
  position: relative;
}

.header .navbar-nav .dropdown-toggle::after {
  content: '>';
  position: absolute;
  bottom: 5px;
  right: -13px;
  transform: rotate(90deg);
  border: none;
}

.header .navbar-nav .nav-item {
  margin-right: 30px;
}

.header .navbar-nav .nav-item:first-of-type {
  margin-right: 50px;
}

.header .navbar-nav .nav-link {
  color: var(--color-white);
}

.header .navbar-nav .nav-link:hover {
  color: var(--color-aqua);
}

.header .navbar-buttons .btn-main {
  width: 135px;
  height: 40px;
  border-radius: 5px;
  box-shadow: none;
  text-transform: none;
}

@media only screen and (max-width: 36em) {
  .header .navbar-buttons .btn-main {
    width: 100px;
    height: 30px;
  }
}

.header .navbar-burger {
  background: transparent;
  outline: none;
  border: none;
  margin-left: 31px;
}

@media only screen and (max-width: 36em) {
  .header .navbar-burger {
    margin-left: 15px;
  }
}

.header .navbar-burger-icon {
  display: block;
  width: 25px;
  height: 2px;
  background: var(--color-white);
  margin-bottom: 8px;
}

.header .navbar-burger-icon:last-of-type {
  margin-bottom: 0;
}

.header .navbar-toggler {
  display: block;
}

.header .navbar-toggler:focus {
  box-shadow: none;
}

.header-content {
  min-height: 630px;
}

.header-content img {
  margin-left: 120px;
  margin-bottom: -180px;
  width: 280px;
  height: 580px;
}

@media only screen and (max-width: 48em) {
  .header-content img {
    margin-left: 0;
    width: 251px;
    height: 415px;
  }
}

@media only screen and (max-width: 36em) {
  .header-content img {
    width: 180px;
    height: 320px;
    margin-bottom: -100px;
  }
}

.header-content .row {
  width: 100%;
  row-gap: 30px;
}

@media only screen and (max-width: 36em) {
  .header-content .row {
    width: auto;
  }
}

.header-content__about {
  max-width: 420px;
  margin-left: 50px;
}

@media only screen and (max-width: 48em) {
  .header-content__about {
    margin-top: 40px;
  }
}

@media only screen and (max-width: 36em) {
  .header-content__about {
    margin-left: 20px;
  }
}

.header-content__about h1 {
  color: var(--color-white);
}

.header-content__about p {
  margin-bottom: 64px;
}

.header-content__buttons {
  row-gap: 20px;
}

@media only screen and (max-width: 36em) {
  .header-content__buttons {
    margin-bottom: 10px;
  }
}

.header-content__buttons .btn-main {
  box-shadow: none;
  width: 165px;
  height: 40px;
  border-radius: 5px;
  text-transform: none;
  margin-right: 27px;
}

.header-content__buttons .btn-secondary {
  width: 144px;
  height: 40px;
}

.services {
  padding: 209px 0 122px;
}

@media only screen and (max-width: 36em) {
  .services {
    padding-top: 110px;
    padding-bottom: 50px;
  }
}

.services h2 {
  position: relative;
  text-align: center;
  line-height: 40px;
  margin-bottom: 74px;
}

@media only screen and (max-width: 36em) {
  .services h2 {
    margin-bottom: 50px;
  }
}

.services h2::after {
  content: '';
  display: block;
  height: 4px;
  width: 100px;
  background: var(--color-aqua);
  margin: 82px auto 0;
}

@media only screen and (max-width: 36em) {
  .services h2::after {
    margin-top: 50px;
  }
}

.services__container {
  row-gap: 30px;
}

@media only screen and (max-width: 36em) {
  .services__container {
    justify-content: center !important;
  }
}

.services__card {
  width: 270px;
  min-height: 321px;
  box-shadow: 0 0 7px rgba(230, 230, 230, 0.651);
  border-radius: 5px;
  padding: 24px;
  margin: 0 auto;
}

@media only screen and (max-width: 48em) {
  .services__card {
    width: 260px;
  }
}

.services__card img {
  width: 117px;
  height: 106px;
}

.services__card p {
  max-width: 230px;
  text-align: center;
}

.app-ad {
  position: relative;
  padding: 96px 0;
  background: var(--secondary-bg-color);
}

@media only screen and (max-width: 36em) {
  .app-ad {
    padding: 50px 0 96px;
  }
}

@media only screen and (max-width: 48em) {
  .app-ad .col:first-of-type {
    display: none;
  }
}

.app-ad__phone {
  position: relative;
}

.app-ad__phone img {
  border-radius: 35px;
  box-shadow: 0 0 20px #00fff2be;
}

.app-ad__phone_main {
  position: relative;
  height: 508px;
  width: 244px;
  z-index: 10;
}

.app-ad__phone_second {
  position: absolute;
  top: 275px;
  left: 285px;
  transform: translate(-50%, -50%) scale(0.7);
}

@media only screen and (max-width: 62.5em) {
  .app-ad__phone_second {
    display: none;
  }
}

.app-ad__info h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.app-ad__info p {
  font-size: 17px;
  font-weight: 300;
  max-width: 455px;
  margin-bottom: 33px;
}

@media only screen and (max-width: 48em) {
  .app-ad__info p {
    max-width: auto !important;
  }
}

.app-ad__info img {
  width: 145px;
}

.app-ad__info-buttons {
  gap: 27px;
}

.app-ad .btn-main {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  width: 370px;
  height: 70px;
}

@media only screen and (max-width: 36em) {
  .app-ad .btn-main {
    width: 270px;
  }
}

.footer-nav {
  margin: 140px 0 100px;
}

@media only screen and (max-width: 48em) {
  .footer-nav {
    margin: 100px 0 50px;
  }
}

.footer-nav li {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-nav li:last-of-type {
  margin-bottom: 0;
}

.footer-subscribe {
  margin-bottom: 98px;
}

@media only screen and (max-width: 48em) {
  .footer-subscribe {
    margin-bottom: 50px;
  }
}

.footer-subscribe h2 {
  margin-bottom: 20px;
}

.footer-subscribe p {
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 72px;
}

@media only screen and (max-width: 48em) {
  .footer-subscribe p {
    margin-bottom: 40px;
    text-align: center;
  }
}

.footer-subscribe__form {
  row-gap: 20px;
}

@media (max-width: 62.5em) {
  .footer-subscribe__form {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.footer-subscribe__form input {
  height: 50px;
  width: 570px;
  margin-right: 31px;
  outline: none;
  border: none;
  background: var(--secondary-bg-color);
  padding: 10px;
  flex-shrink: 0;
}

@media (max-width: 62.5em) {
  .footer-subscribe__form input {
    margin-right: 0;
  }
}

@media only screen and (max-width: 48em) {
  .footer-subscribe__form input {
    width: auto;
    align-self: stretch;
  }
}

.footer-subscribe__form .btn-main {
  height: 50px;
  max-width: 170px;
  flex-shrink: 0;
}

.footer-contacts {
  background-color: var(--main-bg-color);
}

@media only screen and (max-width: 36em) {
  .footer-contacts__content {
    flex-direction: column-reverse;
    row-gap: 20px;
  }
}

@media only screen and (max-width: 36em) {
  .footer-contacts__icons {
    width: 80%;
  }
}

.footer-contacts .container {
  padding: 35px 0;
}

.footer-contacts .container p {
  font-size: 17px;
  font-weight: 500;
  color: var(--color-aqua);
}

.footer-contacts .container li {
  margin-right: 71px;
}

@media only screen and (max-width: 48em) {
  .footer-contacts .container li {
    margin-right: 30px;
  }
}

.footer-contacts .container li:last-of-type {
  margin-right: 0;
}
