.app-ad {
  position: relative;
  padding: 96px 0;
  background: var(--secondary-bg-color);

  .col {
    @media only screen and (max-width: $bp-medium-1) {
      &:first-of-type {
        display: none;
      }
    }
  }

  &__phone {
    position: relative;
    z-index: 1;

    &::after {
      content: url('../img/smartphone.png');
      position: absolute;
      top: 275px;
      left: 285px;
      transform: translate(-50%, -50%) scale(0.7);
      border-radius: 30px;
      box-shadow: 0 0 20px #00fff2be;

      @media only screen and (max-width: $bp-medium) {
        content: '';
      }
    }

    img {
      height: 508px;
      width: 244px;
      border-radius: 30px;
      box-shadow: 0 0 20px #00fff2be;
    }
  }

  &__info {
    h2 {
      font-size: 40px;
      margin-bottom: 30px;
    }

    p {
      font-size: 17px;
      font-weight: 300;
      max-width: 455px;
      margin-bottom: 33px;

      @media only screen and (max-width: $bp-medium-1) {
        max-width: auto !important;
      }
    }

    img {
      width: 145px;
    }

    a {
      &:last-of-type {
        margin-left: 27px;
      }
    }
  }

  .btn-main {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%);
    width: 370px;
    height: 70px;
  }
}
