*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Dosis', sans-serif;
  color: var(--main-color);
  font-weight: 500;
  font-size: 14px;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 1170px;
  padding: 0;
}

button {
  border: none;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.btn-main {
  width: 165px;
  height: 40px;
  background: var(--color-aqua);
  text-transform: uppercase;
  color: var(--secondary-color);
  font-weight: 500;
  box-shadow: -1px 2px 10px #00fff2be;
}

.btn-main:hover {
  transform: translate(3px, -3px);
}

.btn-secondary {
  color: var(--color-white);
  width: 144px;
  height: 40px;
  background: transparent;
  border-radius: 5px;
  border: 1px solid var(--color-white);
}

.btn-secondary:hover {
  color: var(--secondary-color);
  background: var(--color-aqua);
  border: none;
}
