.footer {
  &-nav {
    margin: 140px 0 100px;

    @media only screen and (max-width: $bp-medium-1) {
      margin: 100px 0 50px;
    }

    li {
      font-size: 14px;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &-subscribe {
    margin-bottom: 98px;

    @media only screen and (max-width: $bp-medium-1) {
      margin-bottom: 50px;
    }

    h2 {
      margin-bottom: 20px;
    }

    p {
      font-size: 17px;
      font-weight: 300;
      margin-bottom: 72px;
    }

    &__form {
      row-gap: 20px;

      @media (max-width: $bp-medium) {
        flex-direction: column;
        align-items: center;
        width: 100%;
      }

      input {
        height: 50px;
        width: 570px;
        margin-right: 31px;
        outline: none;
        border: none;
        background: var(--secondary-bg-color);
        padding: 10px;
        flex-shrink: 0;

        @media (max-width: $bp-medium) {
          margin-right: 0;
        }

        @media only screen and (max-width: $bp-medium-1) {
          width: auto;
          align-self: stretch;
        }
      }

      .btn-main {
        height: 50px;
        max-width: 170px;
        flex-shrink: 0;
      }
    }
  }

  &-contacts {
    background-color: var(--main-bg-color);

    .container {
      padding: 35px 0;

      p {
        font-size: 17px;
        font-weight: 500;
        color: var(--color-aqua);
      }

      li {
        margin-right: 71px;

        @media only screen and (max-width: $bp-medium-1) {
          margin-right: 30px;
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
