.header {
  background: var(--main-bg-color);

  .navbar {
    border-bottom: 1px solid var(--main-color-light);
    padding-bottom: 0;
    padding-top: 0;

    &-brand {
      position: relative;
      color: var(--color-aqua);
      font-size: 35px;
      line-height: 46px;

      span {
        position: absolute;
        font-size: 20px;
      }
    }

    &-collapse {
      flex-basis: 0;
      flex-grow: 0;
    }

    &-nav {
      .dropdown {
        position: relative;

        &-toggle {
          &::after {
            content: '>';
            position: absolute;
            bottom: 5px;
            right: -13px;
            transform: rotate(90deg);
            border: none;
          }
        }
      }

      .nav {
        &-item {
          margin-right: 30px;

          &:first-of-type {
            margin-right: 50px;
          }
        }

        &-link {
          color: var(--color-white);

          &:hover {
            color: var(--color-aqua);
          }
        }
      }
    }

    &-buttons {
      .btn-main {
        width: 135px;
        height: 40px;
        border-radius: 5px;
        box-shadow: none;
        text-transform: none;

        @media only screen and (max-width: $bp-smallest) {
          width: 100px;
          height: 30px;
        }
      }
    }

    &-burger {
      background: transparent;
      outline: none;
      border: none;
      margin-left: 31px;

      @media only screen and (max-width: $bp-smallest) {
        margin-left: 15px;
      }

      &-icon {
        display: block;
        width: 25px;
        height: 2px;
        background: var(--color-white);
        margin-bottom: 8px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }

    &-toggler {
      &:focus {
        box-shadow: none;
      }
    }
  }

  &-content {
    min-height: 630px;

    img {
      margin-left: 120px;
      margin-bottom: -180px;
      width: 280px;
      height: 580px;

      @media only screen and (max-width: $bp-medium-1) {
        margin-left: 0;
        width: 251px;
        height: 415px;
      }

      @media only screen and (max-width: $bp-smallest) {
        width: 180px;
        height: 320px;
        margin-bottom: -100px;
      }
    }

    .row {
      width: 100%;
      row-gap: 30px;

      @media only screen and (max-width: $bp-smallest) {
        width: auto;
      }
    }

    &__about {
      max-width: 420px;
      margin-left: 50px;

      @media only screen and (max-width: $bp-medium-1) {
        margin-top: 40px;
      }

      @media only screen and (max-width: $bp-smallest) {
        margin-left: 20px;
      }

      h1 {
        color: var(--color-white);
      }

      p {
        margin-bottom: 64px;
      }
    }

    &__buttons {
      row-gap: 20px;

      @media only screen and (max-width: $bp-smallest) {
        margin-bottom: 10px;
      }

      .btn-main {
        box-shadow: none;
        width: 165px;
        height: 40px;
        border-radius: 5px;
        text-transform: none;
        margin-right: 27px;
      }

      .btn-secondary {
        width: 144px;
        height: 40px;
      }
    }
  }
}
